.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 92vh;
}

#introContainer{
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#level1{
    position: relative;
    width: 100%;
    top: -40px;
    animation: up1 ease .5s forwards 0.5s;
}

#level2{
    display: flex;
    flex-direction: row;
    height: 13vh;
}

#part1{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
}

#part1 > h1{
    font-size: 50px;
}

#part1 > h3{
    font-size: 40px;
}

#part2{
    display: flex;
    flex-direction: row;
    text-align: right;
    width: 50%;
}

#G{
    color: #4c8bf5;
    text-shadow: 
    0 0 7px #fff,
    0 0 19px #4c8bf5,
    0 0 39px #4c8bf5;
}

#D{
    color: #de5246;
    text-shadow: 
    0 0 7px #fff,
    0 0 19px #de5246,
    0 0 39px #de5246;
}

#S{
    color: #34A853;
    text-shadow: 
    0 0 7px #fff,
    0 0 19px #34A853,
    0 0 39px #34A853;
}

#C{
    color: #F4B400;
    text-shadow: 
    0 0 7px #fff,
    0 0 19px #F4B400,
    0 0 39px #F4B400;
}

#part2 > h1{
    font-size: 115px;
    font-weight: 900;
}

#gdscLogo{
    float: right;
    height: 8vh;
}

#level3{
    width: 100%;
    text-align: right;
    
}

#level3 > h2{
    font-size: 60px;
}

#mission > p{
    font-size: 18px;
    opacity: 0;
    animation: appear ease-out 1s forwards 0.8s;
}

#level1, #level2, #level3{
    opacity: 0;
}

#level2, #level3{
    position: relative;
    top: 40px;
    animation: up2 ease .5s forwards 0.5s;
}

@keyframes up1 {
    0% {transform: translateY(0);}
    100% {transform: translateY(40px);opacity:1;}
  }

@keyframes up2 {
    0% {transform: translateY(0);}
    100% {transform: translateY(-40px);opacity:1;}
  }

@keyframes appear {
    100% {opacity:1;}
  }